.main{
	color: #000000;
	padding: 60px; 
	margin:0 auto; 
	text-align:center;
	font-family: 'Playfair Display', serif;
}


#navMain {
	position: fixed;
	top: 0;
	z-index: 9;
  width: 100%;
  margin: 0 auto;
	font-family:'Oswald', sans-serif; 
}
#navMain ul,
#navMain li,
#navMain a {
  position: relative;
  list-style:none;
  text-decoration: none;
}
#navMain ul li a {
  display: block;
  color: #d7e3dd;
  padding: 10px 10px;
  position: relative;
}

#navMain > ul {
  position: relative;
  margin: 0 auto;
}
#navMain > ul > li > a {
  height:100%;
  background: #3f9094;
}

#navMain li > a:hover,
#navMain li > a:focus {
  background: #51bbc1 !important;
}

#navMain .hasSub:after {
  position: absolute;
  content: "\25BC";
  display: block;
  font-size: 0.7em;
  color: #fff;
  top: 14px;
  right: 10px;
  cursor: pointer;

  transform: rotate(0deg);
  transition: transform 0.5s;
}
#navMain .hasSub.open:after {
  transform: rotate(180deg);
  transition: transform 0.5s;
}

.number_shop{
	background-color: red;
	color: #ffffff;
	border-radius: 100%;
	padding: 4px 8px;
	font-size: 12px;
}

#cart_{
	font-family: 'Source Sans Pro', sans-serif;
	color: #928C90;
	font-size: 20px;
}

.empty_cart{
	font-family: 'Antic Didone', serif;
	font-size: 18px;
	background-color: #ffffff;
	color: #C79C96;
	border: #C79C96 1px solid;
	padding: 8px 40px;
	border-radius: 50px;
}

.empty_cart:hover{
	background-color: #C79C96;
	color: #ffffff;
}


/* Menu (responsive) */
#menuBurger {
  display: none; 
}
#menuBurger ~ label {
  display: none;
  z-index:2;
  position:absolute;
  right:0;
  top:0;
  cursor: pointer;
  vertical-align: top;
  background: #F5EBEA;
  width: 38px;
  height: 38px;
}
#menuBurger ~ label::before {
  content: "";
  margin: 6px auto;
  width: 24px;
  height: 5px;
  background: #1f1f1f;
  box-shadow: 0 10px 0 0 #1f1f1f, 0 20px 0 0 #1f1f1f;
}
#menuBurger ~ label::after {
  display: none;
  content: "\2716"; 
  font-weight: 900;
  margin: auto;
  font-size: 26px;
  color: #1f1f1f
}
#menuBurger:checked ~ label::after {
  display: block;
}
#menuBurger:checked ~ label::before {
  display: none;
}
ol, ul {
  padding-left: 0;
}


@media screen and (max-width: 767px) {
  /* menu vertical */
  #navMain > ul {
    width: 100%;
    display:none; 
    
  }
  #menuBurger ~ label {
    display: inline-flex;
  }
  #menuBurger:checked ~ ul {
    display:block;
  }
  .item_card {
    max-width: 60%;
  }

}

@media screen and (min-width: 576px) and (max-width: 767px) {
  
}

@media screen and (min-width: 768px) {
  /* menu horizontal */
  #navMain > ul {
    display: flex;
    flex-wrap:nowrap;
  }
  #navMain > ul > li {
    flex: 1 1 25%;
  }
  #navMain > ul > li > ul {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .item_card {
    width: 100%;
    max-height: 100px;
  }
}



.price_tag{
	font-family: 'Antic Didone', serif;
	font-size: 16px;
	background-color: #3f9094;
	border: #3f9094 1px solid;
	color: #ffffff;
	padding: 8px 70px;
	border-radius: 50px;
}

.price_tag:hover{
	background-color: #ffffff;
	color: #3f9094;
	border: #3f9094 1px solid;
	padding: 8px 70px;
}



/* DETAIL CARD */

.details-card {
  width: 80%;
  margin: auto;
}


.description-container {
  position: relative;
  /* height: 900px; */
}

.main-description1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-description h3 {
  font-size: 2rem;
}

.add-inputs,
.add-inputs input {
  float: left;
  margin-right: 10px;
  margin-bottom: 2px;
}



.add-inputs input {
  height: 48px;
  width: 65px;
  border-radius: 0;
}


.product-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.product-price {
  font-size: 1.8rem;
}

.social-list {
  padding: 0;
  list-style: none;
}

.social-list li {
  float: left;
  padding: 6px 8px;
  margin-right: 12px;
}

.social-list li a {
  color: black;
  font-size: 2rem;
}

.social-list li a i {
  font-size: 2rem;
}


/* CART */

@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }
  
  .number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  }
  
  .number-input input[type=number]::-webkit-inner-spin-button,
  .number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  }
  
  .number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
  }
  
  .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
  text-align: center;
  }
  
  .number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem;
  }
  
  .number-input.number-input button {
  width: 2.6rem;
  height: .7rem;
  }
  
  .number-input.number-input button.minus {
  padding-left: 10px;
  }
  
  .number-input.number-input button:before,
  .number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
  }
  
  .number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
  }
  
  @media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color:transparent) {
  
  .number-input.def-number-input.safari_only button:before,
  .number-input.def-number-input.safari_only button:after {
  margin-top: -.3rem;
  }
  }
  }
  
  .shopping-cart .def-number-input.number-input {
  border: none;
  }
  
  .shopping-cart .def-number-input.number-input input[type=number] {
  max-width: 2rem;
  border: none;
  }
  
  .shopping-cart .def-number-input.number-input input[type=number].black-text,
  .shopping-cart .def-number-input.number-input input.btn.btn-link[type=number],
  .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:hover,
  .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:focus {
  color: #212529 !important;
  }
  
  .shopping-cart .def-number-input.number-input button {
  width: 1rem;
  }
  
  .shopping-cart .def-number-input.number-input button:before,
  .shopping-cart .def-number-input.number-input button:after {
  width: .5rem;
  }
  
  .shopping-cart .def-number-input.number-input button.minus:before,
  .shopping-cart .def-number-input.number-input button.minus:after {
  background-color: #9e9e9e;
  }
  
  .shopping-cart .def-number-input.number-input button.plus:before,
  .shopping-cart .def-number-input.number-input button.plus:after {
  background-color: #4285f4;
  }